@{
    var status = Context.Request.Query["status"];
    var inprocess = "text-dark";
    var pending = "text-dark";
    var completed = "text-dark";
    var all = "text-dark";
    var approved = "text-dark";

    switch(status)
    {
        case "inprocess":
            inprocess = "active";
            break;
        case "pending":
            pending = "active";
            break;
        case "completed":
            completed = "active";
            break;
        case "all":
            all = "active";
            break;
        case "approved":
            approved = "active";
            break;
    }
}

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_Notification" />
<div class="p-3"> 
    <div class="d-flex justify-content-between pt-4">
        <div class="p-2">
            <h2 class="text-primary">Order List</h2>
        </div>
        <div class="p-2">
            <ul class="list-group list-group-horizontal-sm list-unstyled">
                <a style="text-decoration:none" class="btn btn-light @inprocess" asp-controller="Order" asp-action="Index" asp-route-status="inprocess"><li>In Process</li></a>
                <a style="text-decoration:none;" class="btn btn-light @pending " asp-controller="Order" asp-action="Index" asp-route-status="pending"><li>Payment Pending</li></a>
                <a style="text-decoration:none;" class="btn btn-light @completed" asp-controller="Order" asp-action="Index" asp-route-status="completed"><li>Completed</li></a>
                <a style="text-decoration:none;" class="btn btn-light active @all" asp-controller="Order" asp-action="Index" asp-route-status="all"><li>All</li></a>
                <a style="text-decoration:none;" class="btn btn-light @approved" asp-controller="Order" asp-action="Index" asp-route-status="approved"><li>Approved</li></a>
            </ul>
        </div>
       
    </div>
    <div>
        <table class="table table-success table-bordered text-center m-auto" id="tblData" style="width:80%;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Status</th>
                <th>Total</th>
                <th ></th>
            </tr>
        </thead>
    </table>
    </div>
</div>
@section Scripts{
        <script src="~/js/Order.js"></script>

}